{% extends 'base.html' %}
{% load static %}
{% block header %}
        <div class="slider padding-site">
            <div class="header">
                <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                {% include 'includes/inc_menu.html' %}
            </div>
            <div class="slider-text">
                <h4 class="slider-h4">TRENDING</h4>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-p">
                    Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                </p>
                <a href="#" class="button">order us<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
            </div>
            <div class="slider-pagination">
                <a href="" class="circle"></a>
                <a href="" class="circle circle-active"></a>
                <a href="" class="circle"></a>
            </div>

        </div>
{% endblock %}
{% block content %}
        <div class="featured-product padding-site">
            <div class="tab-control">
                <a href="#" class="tab-link-active">Futured</a>
                <a href="#" class="tab-link">New</a>
                <div class="strok-active"></div><div class="stroke"></div>
            </div>
            <div class="btn-ghost">
                <a href="#" class="explore-all">Explore all<img class="arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
            </div>
            <div class="tab-content">
                <div class="product" style="background-image: url({% static 'img/product-1.jpg' %})">
                    <div class="product-text">
                        <a class="product-link" href="/product-details/"><img class="product-link" src="{% static 'img/icon-hover.svg' %}"> </a>
                        <h3 class="product-h3">Fishnet Chair</h3>
                        <p class="product-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    </div>
                </div>
                <div class="product" style="background-image: url({% static 'img/product-2.jpg' %})">
                    <div class="product-text">
                        <a class="product-link" href="/product-details/"><img class="product-link" src="{% static 'img/icon-hover.svg' %}"> </a>
                        <h3 class="product-h3">Fishnet Chair</h3>
                        <p class="product-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    </div>
                </div>
                <div class="product" style="background-image: url({% static 'img/product-3.jpg' %})">
                    <div class="product-text">
                        <a class="product-link" href="/product-details/"><img class="product-link" src="{% static 'img/icon-hover.svg' %}"> </a>
                        <h3 class="product-h3">Fishnet Chair</h3>
                        <p class="product-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    </div>
                </div>
                <div class="product" style="background-image: url({% static 'img/product-4.jpg' %})">
                    <div class="product-text">
                        <a class="product-link" href="/product-details/"><img class="product-link" src="{% static 'img/icon-hover.svg' %}"> </a>
                        <h3 class="product-h3">Fishnet Chair</h3>
                        <p class="product-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo-product">
            <div class="promo-content-1" style="background-image: url({% static 'img/promo-img1.jpg' %})">
                <h4 class="promo-h4">EXCLUSIVE</h4>
                <h3 class="promo-h3">Fishnet Chair</h3>
                <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">order us<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
            </div>
            <div class="promo-content-2" style="background-image: url({% static 'img/promo-img2.jpg' %})">
                <h4 class="promo-h4">EXCLUSIVE</h4>
                <h3 class="promo-h3">Fishnet Chair</h3>
                <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">order us<img class="arrow" src="{% static 'static/img/arrow.svg' %}"></a>
            </div>
        </div>
        <div class="trending-products padding-site">
            <div class="trending-tab">
                <div class="trending-title">Trending Products</div>
                <div class="btn-ghost">
                    <a href="#" class="explore-all">Explore all<img class="arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
            <div class="products">
                    <div class="product" style="background-image: url({% static 'img/product-6.jpg' %})"></div>
                    <div class="product" style="background-image: url({% static 'img/product-5.jpg' %})"></div>
                    <div class="product" style="background-image: url({% static 'img/product-11.jpg' %})"></div>
                    <div class="product" style="background-image: url({% static 'img/product-21.jpg' %})"></div>
                    <div class="product" style="background-image: url({% static 'img/product-31.jpg' %})"></div>
                    <div class="product" style="background-image: url({% static 'img/product-41.jpg' %})"></div>
            </div>
        </div>
        <div class="hot-deals padding-site" style="background-image: url({% static 'img/slider.jpg' %})">
           <div class="hot-deals-slider" >
               <h4 class="hot-deals-h4">Hot deal</h4>
               <h2 class="hot-deals-h2">Fishnet  &nbsp; Chair</h2>
               <p class="hot-deals-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
               <a href="#" class="button">order us<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
           </div>
           <div class="slider-pagination">
                <a href="" class="circle"></a>
                <a href="" class="circle circle-active"></a>
                <a href="" class="circle"></a>
           </div>
        </div>
        <div class="exlusive-product-wrap padding-site">
            <div class="exlusive-content">
                <div class="exlusive-product-left" style="background-image: url({% static 'img/product-1-lg.jpg' %})">
                   <div class="exlusive-product-text">
                        <h4 class="exlusive-product-h4">Exclusive</h4>
                        <h3 class="exlusive-product-h3">Fishnet Chair</h3>
                        <p class="exllusive-product-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                        <a href="#" class="button">order us<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
                    </div>
                </div>
                <div class="exlusive-product-right">
                    <div class="exlusive-product" style="background-image: url({% static 'img/product-3-sm.jpg' %})"></div>
                    <div class="exlusive-product" style="background-image: url({% static 'img/product-2-sm.jpg' %})"></div>
                    <div class="exlusive-product" style="background-image: url({% static 'img/product-4-sm.jpg' %})"></div>
                    <div class="exlusive-product" style="background-image: url({% static 'img/product-5-sm.jpg' %})"></div>
                </div>
            </div>
        </div>
        <div class="mobile-app" style="background-image: url({% static 'img/back-img.jpg' %})">
            <div class="mob-app-content">
                <h4 class="mob-app-h4">mobile app</h4>
                <h3 class="mob-app-h3">Find. Follow. Favorite.</h3>
                <p class="mob-app-p">Save your favorites and share your style.</p>
                <div class="mob-app-download"><img src="{% static 'img/app-store.png' %}"><img src="{% static 'img/google-play.png' %}"></div>
            </div>
        </div>
    </div>
{% endblock %}
