{% extends 'base.html' %}
{% load static %}
{% block header %}
        <div class="top">
            <div class="header padding-site">
                <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                {% include 'includes/inc_menu.html' %}
            </div>
{% endblock %}
{% block content %}
            <div class="nav">
                {% include 'includes/inc_category.html' %}
            </div>
            <div class="product-container padding-site">
                <div class="product-slider-container">
                    <div class="product-slider"></div>
                    <div class="product-slider-nav">
                       <img class="product-slider-controll" src="{% static 'img/controll.jpg' %}">
                       <img class="product-slider-controll" src="{% static 'img/controll2.jpg' %}">
                       <img class="product-slider-controll" src="{% static 'img/controll3.jpg' %}">
                    </div>
                </div>
                <div class="product-details-container">
                    <div class="product-details-top">
                        <h3 class="product-details-h3">Fishnet Chair</h3>
                        <h4 class="product-details-h4">HOT DEAL</h4>
                        <p class="product-details-price">$ 36.7</p>
                    </div>
                    <div class="product-details-button">ORDER US ></div>
                    <div class="product-details-down">
                        <p class="product-details-p">The majesty of Mountains - Ugmonk style.<br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore<br><br>
 et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>
                </div>
                
            </div>
            <div class="related-product-container padding-site">
                <div class="related-controll">
                    <h3 class="related-product-h3">Related products</h3>
                    <div class="btn-ghost">
                    <a href="#" class="explore-all">Explore all<img class="arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                </div>
                </div>
                <div class="related-product-wrap">
                    <div class="related-product" style="background: url({% static 'img/product-11.jpg' %})"></div>
                    <div class="related-product" style="background: url({% static 'img/product-21.jpg' %})"></div>
                    <div class="related-product" style="background: url({% static 'img/product-31.jpg' %})"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}