{% extends 'base.html' %}
{% load static %}
{% block header %}
        <div class="wrapper padding-site">
            <div class="header">
                <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                {% include 'includes/inc_menu.html' %}
            </div>
            <div class="our-products">
                <h3 class="title-h3">Our Products Range</h3>
            </div>
        </div>
{% endblock %}
{% block content %}
        <div class="our-products-content padding-site">
            <div class="tab-controll">
                {% include 'includes/inc_category.html' %}
            </div>
            <div class="products">
                <div class="product" style="background-image: url({% static 'img/product-6.jpg' %})"><a  href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-5.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-11.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-21.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-31.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-41.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-6.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-5.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-11.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-21.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-31.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
                <div class="product" style="background-image: url({% static 'img/product-41.jpg' %})"><a href="/product-details/" class="product-link-2"></a></div>
            </div>
            <div class="refresh">
                <i class="fas fa-sync"></i>
            </div>            
        </div>
        <div class="promo-product">
            <div class="promo-content-1" style="background-image: url({% static 'img/promo-img1.jpg' %})">
                <h4 class="promo-h4">EXCLUSIVE</h4>
                <h3 class="promo-h3">Fishnet Chair</h3>
                <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">order us<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
            </div>
            <div class="promo-content-2" style="background-image: url({% static 'img/promo-img2.jpg' %})">
                <h4 class="promo-h4">EXCLUSIVE</h4>
                <h3 class="promo-h3">Fishnet Chair</h3>
                <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">order us<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
            </div>
        </div>
        
    </div>
{% endblock %}